*{
margin:0;
padding: 0;
box-sizing: border-box;
}
:root{
--thin-font-weight:100;
--light-font-weight:300;
--regular-font-weight:400;
--semibold-font-weight:600;
--bold-font-weight:700;
--black-font-weight:900;
--margin-sides:30px;
--margin-top-bottom:15px;
}
body{
 background-color: #FAF1E8;   
  
}

main{
    max-width: 600px;
    margin:29px auto;
    background-color: white;
border-radius: 10px;

margin-bottom: 2px;
}
@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 100 900;
}

.title-heading{
    margin: 10px auto;
    font-family:"outfit";
    font-weight: var(--bold-font-weight);
    font-size: 2rem;
    
}
.title-paragraph{
    font-family:"outfit";
    font-weight: 100;
    margin-top: 14px;
      font-weight:var(--light-font-weight) ;
      font-size: 0.9em;
      
}
.header{
padding: 1px;
margin: var(--margin-top-bottom) var(--margin-sides);

}
.omelete-image{
    width: 95%;

    display: block;

    margin: 15px;

    border-radius: 12px;

}
.recipe-preparation-time-section{
    background-color:rgba(245, 219, 245,0.3);
   padding: 19px;

border-radius: 6px;
margin: var(--margin-top-bottom) var(--margin-sides);

}
.recipe-preparation-time-section h2{
 font-family: "outfit";
    font-weight: 300;
    color: #9A687E;
margin: 10px;
}

.time-list li{
      font-family: "outfit";
    font-weight:var(--light-font-weight) ;
    margin: 12px 40px;
    
}
.bold-text{
    font-family: "outfit";
    font-weight:var(--semibold-font-weight) ;
}

.ingredients-lists li{
    font-family: "outfit";
    font-weight:var(--light-font-weight) ;
    margin:15px 27px;
}
.ingredients-section{
    
margin: var(--margin-top-bottom) var(--margin-sides);
}
.instuctuion-section{

     margin: var(--margin-top-bottom) var(--margin-sides);
}
.ingredients-section h2,.instuctuion-section h2,.nutrition-section h2{
    color: #8B4A2B;
    font-size: 1.7rem;
    margin: 20px 0;
}
.instruction-lists li{
      font-family: "outfit";
    font-weight:var(--light-font-weight) ;

margin:15px 27px;
}
.nutrition-section{
    
    padding: 1px;
    margin: var(--margin-top-bottom) var(--margin-sides);
    
    padding-bottom: 15px;
}
.nutrition-tabel{
    
    border-collapse: collapse;
}
.nutrition-tabel tr{
    
    border-bottom: 1px solid black;
}
.nutrition-tabel td{
    display: inline-block;
    margin: 10px 90px;
    min-width: 10px;
    max-width: 10px;
    
    
}
.line{
    width: 90%;
    margin-left: var(--margin-top-bottom);
}
@media  screen and (max-width:640px) {
  .header{
    margin: auto;
    padding: 0;

}

.title-heading{
    margin: 10px var(--margin-sides);
    
    
}
.title-paragraph{
    font-family:"outfit";
    font-weight: 100;
    margin: 10px var(--margin-sides);
   
      
}
    .omelete-image{
width: 100%;
display: block;
margin: 0;

    }
    .ingredients-lists li{
    font-family: "outfit";
    font-weight:var(--light-font-weight) ;
    margin:15px 18px;
}
.instruction-lists li{
      font-family: "outfit";
    font-weight:var(--light-font-weight) ;

margin:15px 18px;
}
}
